{% extends 'base.html' %}
{% load bootstrap5 i18n %}

{% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <h2>{{event.title}}</h2>
    <form method="post">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button class="btn btn-primary" type="submit">{% trans 'Einladung annehmen' %}</button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
