{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Anlässe' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>{% trans 'Anlässe' %}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Anlass' %}</th>
          <th>{% trans 'Datum' %}</th>
          {% if request.user.is_staff %}
          <th>{% trans 'Operator' %}</th>
          <th>{% trans 'Übersicht' %}</th>
          <th>{% trans 'Admin' %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>
            <a href="{% url 'events:event_detail' event.pk %}">{{event.title}}</a>
          </td>
          <td>
            {{event.date | date }}
          </td>
          {% if request.user.is_staff %}
          <td>
          {% if request.user in event.operators.all %}
            <a href="{% url 'events:operator_start' event.pk %}">
              {% trans 'Operator' %}
            </a>
          {% endif %}
          </td>
          <td>
          {% if request.user in event.managers.all %}
            <a href="{% url 'events:event_admin' event.pk %}">
              {% trans 'Overview' %}
            </a>
          {% endif %}
          </td>
          <td>
          {% if request.user in event.managers.all %}
            <a href="{% url 'admin:events_event_change' event.pk %}">
              {% trans 'Admin' %}
            </a>
          {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
