{% extends 'base.html' %}

{% load static bootstrap5 i18n %}

{% block styles %}
<link
       rel="stylesheet"
       href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
       />
{% endblock %}

{% block title %}{{event.title}} - {{event.date | date}}{% endblock %}

{% block content %}
<div class="row">
</div>
<div class="row" id="app">
  <span class="d-none" id="nameInput" data-value="{{request.user.get_full_name}}"></span>
  <span class="d-none" id="waitingCallMessage" data-value="{% trans 'Deine Wortmeldung kommt bald dran, klicke auf den blauen Link mit dem gelben Hintergrund um den Call zu starten!' %}"></span>
  <span class="d-none" id="redactConfirm" data-value="{% trans 'Bist du sicher?' %}"></span>
  <span class="d-none" id="hangupMessage" data-value="{% trans 'Beende den aktuellen Call, bevor du einen neuen anfängst.' %}"></span>
  <div class="col-lg-6 col-xl-7 col-xxl-8">
    <ul class="nav nav-tabs" id="videoTab" role="tablist">
      {% for video in event.videolink_set.all %}
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if forloop.first %}active{% endif %}" id="video-tab-{{video.id}}" data-bs-toggle="tab" href="#video-{{video.id}}" role="tab" aria-controls="video-{{video.id}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{video.name}}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="tab-content" id="videoTabContent">
      {% for video in event.videolink_set.all %}
      <div
          class="tab-pane fade {% if forloop.first %}show active{% endif %}"
          id="video-{{video.id}}"
          role="tabpanel"
          aria-labelledby="video-tab-{{video.id}}"
          >
          <div class="ratio ratio-16x9">
            {{video.embed_code|safe}}
          </div>
      </div>
      {% endfor %}

    </div>
    {% if request.user.is_authenticated %}
    <div class="row">
      <div class="col-md-6">
        {% if event.chatwindow_set.count %}
        <h3>{% trans "Chat" %}</h3>
        {% endif %}
        <ul class="nav nav-tabs" id="chatTab" role="tablist">
          {% for chat in event.chatwindow_set.all %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if forloop.first %}active{% endif %}" id="chat-tab-{{chat.id}}" data-bs-toggle="tab" href="#chat-{{chat.id}}" role="tab" aria-controls="chat-{{chat.id}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{chat.name}}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content" id="chatTabContent">
          {% for chat in event.chatwindow_set.all %}
          <div
              class="tab-pane fade {% if forloop.first %}show active{% endif %}"
              id="chat-{{chat.id}}"
              role="tabpanel"
              aria-labelledby="chat-tab-{{chat.id}}"
              >
              <div class="chat d-flex flex-column">
                <div class="messages">
                  <div v-for="message of messages['{{chat.id}}']" class="card" v-bind:class="{'me': message.user_id == {{request.user.pk}}}" >
                    <div class="card-header text-muted">
                      <small>
                        [[message.first_name]] [[message.last_name]] - [[formatDate(new Date(message.timestamp))]]
                      </small>
                    </div>
            <div class="card-body" v-html="message.message">
            </div>
                  </div>
                </div>
                <form data-channel="{{chat.id}}"
                      v-on:submit.prevent="sendMessage"
                      > 
                      <div class="input-group chat-input">
                        <input
                            id="input-{{chat.id}}"
                            type="text"
                            class="form-control"
                            autocomplete="off"
                            maxlength="280"
                            >
                            <button class="btn btn-outline-secondary" type="submit" >
                              {% trans 'Senden' %}
                            </button>
                      </div>
                </form>

              </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="vote-info col-md-6">
        <h2 class="h2">{% trans 'Abstimmungen' %}</h2>
        <h2 class="text-center"  v-if="info.vote_title">[[info.vote_title]]</h2>

        <div class="vote-results"  v-if="info.vote_title">
          <span class="yes">
            <span v-if="info.text_yes">[[info.text_yes]]</span> 
            <span v-else>{% trans 'Ja' %}</span>: [[info.vote_yes]]</span>
          <span class="yes">
            <span v-if="info.text_no">[[info.text_no]]</span> 
            <span v-else>{% trans 'Nein' %}</span>: [[info.vote_no]]</span>
          <span class="yes">
            <span v-if="info.text_abstain">[[info.text_abstain]]</span> 
            <span v-else>{% trans 'Enthaltung' %}</span>: [[info.vote_abstain]]</span>
        </div>

        <div class="votes" id="votes"  v-if="info.vote_title">
        </div>

        {% if can_vote %}
        <div class="vote-panel" id="vote-panel"  v-if="info.vote_title && info.can_vote">
          <div class="btn-group disabled" role="group">
            <button type="button" class="btn btn-outline-primary" @click="voteAction" data-value="1" v-bind:class="{active: info.user_vote == 1}">
              <template v-if="info.text_yes">[[info.text_yes]]</template> 
              <template v-else>{% trans 'Ja' %}</template>
            </button>
            <button type="button" class="btn btn-outline-danger" @click="voteAction" data-value="2" v-bind:class="{active: info.user_vote == 2}">
              <template v-if="info.text_no">[[info.text_no]]</template> 
              <template v-else>{% trans 'Nein' %}</template>
            </button>
            <button type="button" class="btn btn-outline-secondary" @click="voteAction" data-value="0" v-bind:class="{active: info.user_vote == 0}">
              <template v-if="info.text_abstain">[[info.text_abstain]]</template> 
              <template v-else>{% trans 'Enthaltung' %}</template>
            </button>
            <button type="button" class="btn btn-outline-dark" @click="voteAction" data-value="-1" v-bind:class="{active: info.user_vote == -1}">
              {% trans 'Keine' %}
            </button>
          </div>
        </div>
        {% endif %}
        <table class="table table-sm" v-if="info.ballots && info.ballots.length > 0">
          <thead>
            <tr>
              <th>{% trans 'Abstimmung' %}</th>
              <th>{% trans 'Ja' %}</th>
              <th>{% trans 'Nein' %}</th>
              <th>{% trans 'Enthaltung' %}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="ballot in info.ballots">
              <td>[[ballot.title]]</td>
              <td>[[ballot.yes]]</td>
              <td>[[ballot.no]]</td>
              <td>[[ballot.abstain]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-lg-6 col-xl-5 col-xxl-4">
    {% if request.user.is_authenticated %}
    <div class="speaker-info">

      {% if not request.user.is_authenticated %}
      <div class="alert alert-warning" role="alert">
        {% url 'login' as login_url %}
        {% blocktrans %}Du siehst du Versammlung als Gäst*in, um abzustimmen musst du dich <a href="{{login_url}}">hier</a> anmelden.{% endblocktrans %}
      </div>
      {% endif %}
      <h2>{% trans 'Deine Wortmeldungen' %}</h2>
      <table class="table" id="speakerRequests">
        <thead>
          <tr>
            <th>
              {% trans 'Traktandum' %}
            </th>
            <th colspan="2">
              {% trans 'Status' %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="request in info.speakerRequests" v-bind:class="{
          scheduled: request.state == {{SCHEDULED}},
          waiting: request.state == {{WAITING}},
          ready: request.state == {{READY}},
          speaking: request.state == {{SPEAKING}},
          done: request.state == {{DONE}},
          }">
            <td>
              <a @click="joinMeeting" :data-id="request.id" :data-link="request.link" :href="'https://{{JITSI_DOMAIN}}/' + request.link" :title="request.title">
                [[truncate(request.title, 70)]]
              </a>
            </td>
            <td :data-state="request.state">
              [[request.state_display]]
            </td>
            <td>
              <a class="btn btn-primary btn-sm" @click="joinMeeting" :data-id="request.id" :data-link="request.link" :href="'https://{{JITSI_DOMAIN}}/' + request.link" :title="request.title">
                {% trans 'Beitreten' %}
              </a>
              <button
                :data-id="request.id"
                data-link="/speakers/delete/"
                type="button"
                class="btn btn-sm btn-danger"
                @click="deleteAction">
                {% trans 'Zurückziehen' %}
              </button>
            </td>
          </tr>
          <tr v-if="info.speakerRequests && info.speakerRequests.length <= 0">
            <td colspan="2">
              {% trans 'Noch keine Wortmeldungen' %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3>{% trans 'Wortmeldung einreichen' %}</h3>
    <form
      class="form"
      id="speakerForm"
      method="post"
      action="{% url 'speakers:create_request' %}"
      v-on:submit.prevent="submitForm"
      >
      {% bootstrap_form speaker_form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans 'Absenden' %}</button>
      {% endbuttons %}
    </form>

    <div class="ratio ratio-16x9">
      <div id="meet">
      </div>
    </div>
    {% else %}
    <div class="vote-info" v-if="info.vote_title">
      <h2 class="text-center">[[info.vote_title]]</h2>
      <div class="votes" id="votes">
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/smile2emoji.js' %}"></script>
{% if debug %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
{% endif %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
<script src='https://{{JITSI_DOMAIN}}/external_api.js'></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{% static 'js/event_detail.js' %}"></script>
{% endblock %}
