{% extends 'base.html' %}

{% load static bootstrap5 i18n %}

{% block styles %}
<link
       rel="stylesheet"
       href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
       />
{% endblock %}

{% block title %}{{event.title}} - {{event.date | date}}{% endblock %}

{% block content %}
<script src='https://{{JITSI_DOMAIN}}/external_api.js'></script>
<div class="row">
</div>
<div class="row" id="app">
  <span class="d-none" id="nameInput" data-value="{{request.user.get_full_name}}"></span>
  <span class="d-none" id="redactConfirm" data-value="{% trans 'Bist du sicher?' %}"></span>
  <span class="d-none" id="hangupMessage" data-value="{% trans 'Beende den aktuellen Call, bevor du einen neuen anfängst.' %}"></span>

  <div class="col-lg-8">
    {% if event.embed_code %}
    <div class="ratio ratio-16x9">
    {% autoescape off %}
    {{event.embed_code}}
    {% endautoescape %}
    </div>
    {% else %}
    <div id="meetAll" class="ratio ratio-4x3"></div>
    <script>
      const options = {
        roomName: "{{event.id}}",
        parentNode: document.querySelector("#meetAll"),
        userInfo: {
          displayName: document.getElementById("nameInput").dataset.value,
        },
      };
      let api = new JitsiMeetExternalAPI("{{JITSI_DOMAIN}}", options);
    </script>
    {% endif %}
  </div>
  <div class="col-lg-4">
    {% if request.user.is_authenticated %}
    <div class="row">
      <div class="col-12">
        {% if event.chatwindow_set.count %}
        <h3>{% trans "Chat" %}</h3>
        {% endif %}
        <ul class="nav nav-tabs" id="chatTab" role="tablist">
          {% for chat in event.chatwindow_set.all %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if forloop.first %}active{% endif %}" id="chat-tab-{{chat.id}}" data-bs-toggle="tab" href="#chat-{{chat.id}}" role="tab" aria-controls="chat-{{chat.id}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{chat.name}}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content" id="chatTabContent">
          {% for chat in event.chatwindow_set.all %}
          <div
            class="tab-pane fade {% if forloop.first %}show active{% endif %}"
            id="chat-{{chat.id}}"
            role="tabpanel"
            aria-labelledby="chat-tab-{{chat.id}}"
            >
            <div class="chat d-flex flex-column">
              <div class="messages">
                <div v-for="message of messages['{{chat.id}}']" class="card" v-bind:class="{'me': message.user_id == {{request.user.pk}}}" >
                  <div class="card-header text-muted">
                    <small>
                      [[message.first_name]] [[message.last_name]] - [[formatDate(new Date(message.timestamp))]]
                    </small>
                  </div>
            <div class="card-body" v-html="message.message">
            </div>
                </div>
              </div>
              <form data-channel="{{chat.id}}"
                    v-on:submit.prevent="sendMessage"
                    > 
                    <div class="input-group chat-input">
                      <input
                        id="input-{{chat.id}}"
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        maxlength="280"
                        >
                        <button class="btn btn-outline-secondary" type="submit" >
                          {% trans 'Senden' %}
                        </button>
                    </div>
              </form>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="vote-info col-12">
        <h2 class="h2">{% trans 'Abstimmungen' %}</h2>
        <h2 class="text-center">[[info.vote_title]]</h2>
        <div class="votes" id="votes">
        </div>

        {% if can_vote %}
        <div class="vote-panel" id="vote-panel">
          <div class="btn-group disabled" role="group">
            <button type="button" class="btn btn-outline-primary" @click="voteAction" data-value="1" v-bind:class="{active: info.user_vote == 1}">
              {% trans 'Ja' %}
            </button>
            <button type="button" class="btn btn-outline-danger" @click="voteAction" data-value="2" v-bind:class="{active: info.user_vote == 2}">
              {% trans 'Nein' %}
            </button>
            <button type="button" class="btn btn-outline-secondary" @click="voteAction" data-value="0" v-bind:class="{active: info.user_vote == 0}">
              {% trans 'Enthaltung' %}
            </button>
            <button type="button" class="btn btn-outline-dark" @click="voteAction" data-value="-1" v-bind:class="{active: info.user_vote == -1}">
              {% trans 'Keine' %}
            </button>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/smile2emoji.js' %}"></script>
{% if debug %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
{% endif %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
<script src="{% static 'js/event_detail.js' %}"></script>
{% endblock %}
