{% extends 'base.html' %}

{% load static bootstrap5 i18n %}

{% block title %}Admin - {{event.title}}{% endblock %}

{% block content %}
<div  id="app">
  <div class="row">
    <div class="col">
      <h2>{% trans 'Wortmeldungen' %}</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>
              {% trans 'Traktandum' %}
            </th>
            <th>
              {% trans 'Sprecher*in' %}
            </th>
            <th>
              {% trans 'Status' %}
            </th>
            <th>
              {% trans 'Wortmeldung' %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="request in info.speakerRequests" v-bind:class="{
                       scheduled: request.state == {{SCHEDULED}},
                       waiting: request.state == {{WAITING}},
                       ready: request.state == {{READY}},
                       speaking: request.state == {{SPEAKING}},
                       done: request.state == {{DONE}},
                       }">
            <td>
              [[request.title]]
            </td>
            <td>
              [[request.name]]
            </td>
            <td>
              [[request.state_display]]
            </td>
            <td>
              [[request.reason]]
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h2>{% trans 'Abstimmungen' %}</h2>
      <div class="vote-info">

        <h2>[[info.vote_title]]</h2>

        <div class="vote-results"  v-if="info.vote_title">
          <span class="yes">
            <span v-if="info.text_yes">[[info.text_yes]]</span> 
            <span v-else>{% trans 'Ja' %}</span>: [[info.vote_yes]]</span>
          <span class="yes">
            <span v-if="info.text_no">[[info.text_no]]</span> 
            <span v-else>{% trans 'Nein' %}</span>: [[info.vote_no]]</span>
          <span class="yes">
            <span v-if="info.text_abstain">[[info.text_abstain]]</span> 
            <span v-else>{% trans 'Enthaltung' %}</span>: [[info.vote_abstain]]</span>
        </div>
        <div class="votes" id="votes">
        </div>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>{% trans 'Abstimmung' %}</th>
            <th>{% trans 'Ja' %}</th>
            <th>{% trans 'Nein' %}</th>
            <th>{% trans 'Enthaltung' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ballot in info.ballots">
            <td>[[ballot.title]]</td>
            <td><span v-if="ballot.text_yes" class="alt">[[ballot.text_yes]]:</span> [[ballot.yes]]</td>
            <td><span v-if="ballot.text_no" class="alt">[[ballot.text_no]]:</span> [[ballot.no]]</td>
            <td><span v-if="ballot.text_abstain" class="alt">[[ballot.text_abstain]]:</span> [[ballot.abstain]]</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    {% for chat in event.chatwindow_set.all %}
    <div class="col">
      <h3>{{chat.name}}</h3>
      <div class="chat d-flex flex-column">
        <div class="messages admin">
          <div v-for="message of messages['{{chat.id}}']" class="card">
            <div class="card-header text-muted">
              <small>
                [[message.first_name]] [[message.last_name]] - [[formatDate(new Date(message.timestamp))]]
              </small>
            </div>
            <div class="card-body" v-html="message.message">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{% if debug %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
{% endif %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/event_admin.js' %}"></script>
{% endblock %}
