{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{event.title}} - {{event.date | date}}{% endblock %}

{% block content %}
<div id="app">
  <div class="row">
    <div class="col-md-6">
      <div id="meet" class="ratio ratio-16x9">
      </div>
    </div>
    <div class="col-md-6">
      <div id="overview" class="ratio ratio-16x9">
        <div class="wrapper">
        <h2>{% trans 'Wortmeldungen' %}</h2>
        <table class="table table-sm requests">
          <thead>
            <tr>
              <th>
                {% trans 'Traktandum' %}
              </th>
              <th>
                {% trans 'Sprecher*in' %}
              </th>
              <th>
                {% trans 'Status' %}
              </th>
              <th>
                {% trans 'Station' %}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="request in info.speakerRequests" v-bind:class="{
                       scheduled: request.state == {{SCHEDULED}},
                       waiting: request.state == {{WAITING}},
                       ready: request.state == {{READY}},
                       speaking: request.state == {{SPEAKING}},
                       done: request.state == {{DONE}},
                       }">
              <td>
                [[request.title]]
              </td>
              <td>
                [[request.name]]
              </td>
              <td>
                [[request.state_display]]
              </td>
              <td>
                [[request.station]]
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>
              {% trans 'Traktandum' %}
            </th>
            <th>
              {% trans 'Sprecher*in' %}
            </th>
            <th>
              {% trans 'Handy' %}
            </th>
            <th>
              {% trans 'E-Mail' %}
            </th>
            <th>
              {% trans 'Status' %}
            </th>
            <th>
              {% trans 'Aktion' %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="request in requestsForOperator({{operator}})">
            <td>
              [[request.title]]
            </td>
            <td>
              [[request.name]]
            </td>
            <td>
              [[request.phone]]
            </td>
            <td>
              [[request.mail]]
            </td>
            <td>
              [[request.state_display]]
            </td>
            <td>
              <button
                v-if="api == null"
                :data-id="request.id"
                :data-link="request.link"
                :data-next="{{WAITING}}"
                :data-subject="request.title"
                @click="joinMeeting"
                class="btn btn-primary">
                {% trans 'Beitreten' %}
              </button>
              <button
                v-if="api && request.state == {{WAITING}}"
                :data-id="request.id"
                :data-next="{{READY}}"
                @click="roomAction"
                class="btn btn-primary">
                {% trans 'Bereit' %}
              </button>
              <button
                v-if="request.state == {{READY}} || request.state == {{SPEAKING}}"
                :data-id="request.id"
                :data-next="{{DONE}}"
                @click="roomAction"
                class="btn btn-primary">
                {% trans 'Fertig' %}
              </button>
              <button
                :data-id="request.id"
                @click="sendMail"
                class="btn btn-primary">
                {% trans 'E-Mail schicken' %}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
{% if debug %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
<script src='https://{{JITSI_DOMAIN}}/external_api.js'></script>
<script src="{% static 'js/event_operator.js' %}"></script>
{% endblock %}
