{% extends 'base.html' %}
{% load i18n bootstrap5 %}

{% block title %}{{event.title}} - {{event.date | date}}{% endblock %}
{% block content %}


<div class="row">
  <div class="col-md-6 col-lg-5">
    <h2>{{event.title}}</h2>
    <form method="get" action="" class="form">
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans 'Los' %}</button>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock %}
