<div
      class="tab-pane fade"
      id="chat-rooms"
      role="tabpanel"
      aria-labelledby="chat-tab-rooms"
      >
      <table class="table table-sm">
        <thead>
          <tr>
            <th colspan="3">Raum</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="room of rooms.owned">
            <td>
              <a @click="joinMeeting" :data-link="room.link" :href="'https://{{JITSI_DOMAIN}}/' + room.link" :title="room.name">
                [[room.name]]
              </a>
            </td>
            <td>
              <button :data-id="room.id" data-link="/chat/delete/" type="button" class="btn btn-sm btn-danger" @click="deleteAction">
                {% trans 'Löschen' %}
              </button>
              <button :data-id="room.id" type="button" class="btn btn-sm btn-primary" @click="selectRoom">
                {% trans 'Mitglieder' %}
              </button>
            </td>
          </tr>
          <tr v-for="room of rooms.rooms">
            <td>
              <a @click="joinMeeting" :data-link="room.link" :href="'https://{{JITSI_DOMAIN}}/' + room.link" :title="room.name">
                [[room.name]]
              </a>
            </td>
            <td>
              <button :data-id="room.id" data-link="/chat/leave/" type="button" class="btn btn-sm btn-danger" @click="deleteAction">
                {% trans 'Verlassen' %}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <form method="post" action="{% url 'chat:create_room' %}"
                          v-on:submit.prevent="submitForm">

        <div class="input-group chat-input">
          <input type="text" name="name" maxlength="120" required="required" id="id_name" class="form-control">
          <button type="submit" class="btn btn-primary btn-sm">{% trans 'Raum erstellen' %}</button>
        </div>
      </form>
      <div class="editMembers" v-bind:class="{'d-none': selectedRoom === undefined}">
        <div class="mt-2">{% trans 'Mitglieder' %}</div>
        <select id="userSelect"  multiple>
        </select>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm" @click="updateMembers">
            {% trans 'Aktualisieren' %}
          </button>
          <button type="button" class="btn btn-danger btn-sm" @click="deselectRoom">
            {% trans 'Abbrechen' %}
          </button>
        </div>
      </div>
</div>
