{% extends 'base.html' %}

{% block title %}
{{event.title}}
{% endblock %}

{% load static i18n %}
{% block body %}
<div class="container-fluid" id="app">
  <div class="row">
    <div class="col-md-8">
      <div class="votes big" id="votes">
      </div>
      <h2>[[info.vote_title]]</h2>
    </div>
    <div class="col-md-4 vote-stats text-center">

      <table class="table">
        <tr>
          <td v-if="info.text_yes">[[info.text_yes]]</td>
          <td v-else>{% trans 'Ja' %}</td>
          <td>[[info.vote_yes]]</td>
        </tr>
        <tr>
          <td v-if="info.text_no">[[info.text_no]]</td>
          <td v-else>{% trans 'Nein' %}</td>
          <td>[[info.vote_no]]</td>
        </tr>
        <tr>
          <td v-if="info.text_abstain">[[info.text_abstain]]</td>
          <td v-else>{% trans 'Enthaltung' %}</td>
          <td>[[info.vote_abstain]]</td>
        </tr>
        <tr>
          <td>{% trans 'Total' %}</td>
          <td>[[info.total]]</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% if debug %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
{% endif %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vote_screen.js' %}"></script>
{% endblock %}
