{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2>{% trans 'Erfolgreich abgemeldet' %}</h2>
    <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Login' %}</a>
    </p>
  </div>
</div>
{% endblock %}
