{% extends 'base.html' %}
{% load bootstrap5 i18n %}
{% block title %}{% trans 'Anmelden' %}{% endblock %}
{% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-lg-4">
    <form method="post" class="form">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans 'Anmelden' %}</button>
      {% endbuttons %}
    </form>

    <p>
    {% blocktrans %}Dein Benutzername ist deine E-Mail Adresse.{% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}Kein Account? Im Mail mit den Informationen hast du einen Code und einen Link, mit dem duch dich registrieren kannst.{% endblocktrans %}
    </p>
    <a href="{% url 'password_reset' %}">{% translate 'Forgotten your password or username?' %}</a>
  </div>
</div>
{% endblock %}
