{% extends 'base.html' %}
{% load bootstrap5 i18n %}
{% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2>{% trans 'Enter new password' %}</h2>
    <p>
    {% blocktrans %}Please enter your new password twice so we can verify you typed it in correctly.{% endblocktrans %}
    </p>
    <form method="post" class="form">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
