{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2>{% trans 'Password reset sent' %}</h2>
    <p>
    {% blocktrans %}We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.{% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.{% endblocktrans %}
    </p>
  </div>
</div>
{% endblock %}
