{% extends 'base.html' %}
{% load i18n  bootstrap5 %}
{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2>{% trans 'Password reset' %}</h2>
<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
    <form method="post" class="form">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
