{% extends 'base.html' %}
{% load i18n  bootstrap5 %}
{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2>{% trans 'Password reset complete' %}</h2>
<p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
    <a class="btn btn-primary" href="{% url 'login' %}">{% translate 'Log in' %}</a>
  </div>
</div>
{% endblock %}
