.form-group {
  margin-bottom: 0.5em;
}

.votes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 230px;
  width: 100%;
  min-height: 100px;
  background-color: var(--bs-gray-dark);
  padding: 0.3em;
}

.vote-info {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.vote-info h2 {
  min-height: 1em;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.votes > div {
  height: 10px;
  width: 10px;
  margin: 1px;
  box-sizing: border-box;
}

.votes.big > div {
  height: 20px;
  width: 20px;
  margin: 3px;
  box-sizing: border-box;
}

div[data-vote="-1"] {
  background-color: var(--bs-gray-dark);
}

div[data-vote="0"] {
  background-color: var(--bs-gray);
}

div[data-vote="1"] {
  background-color: var(--bs-blue);
}

div[data-vote="2"] {
  background-color: var(--bs-red);
}

div[data-self="true"] {
  border: solid var(--bs-white) 2px;
}

div.vote-panel .btn-group {
  width: 100%;
}

#speakerRequests td > a {
  word-wrap: anywhere;
}

#meet {
  background-color: var(--bs-gray-dark);
}

#chatTabContent {
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-radius: 0 0 0.25rem 0.25rem;
  margin-bottom: 1em;
}

.messages .card {
  width: 80%;
  margin-bottom: 0.4em;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.messages .card-body img {
  display: block;
  max-width: 100%;
}

.messages.admin .card {
  width: 95%;
}

.messages .card.me {
  align-self: flex-end;
}

.messages {
  flex: 0 0 300px;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-input {
  flex: 0 0 auto;
}

.card-header {
  padding: 0.2rem 0.4rem;
}

.card-body {
  padding: 0.2rem 0.2rem;
}

.vote-stats {
  font-size: 2em;
}

tr.scheduled {
  background-color: #96ffeb;
}

tr.waiting {
  background-color: #fbf823;
}

tr.ready {
  background-color: #3ad003;
}

tr.speaking {
  background-color: #e99bff;
}

.wrapper {
  overflow-y: auto;
}

.vote-results > span {
  display: flex;
  flex-direction: row;
}
.vote-results {
  display: flex;
  justify-content: space-between;
}
