{% load static bootstrap5 %}
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
      />
    <link
      href="{% static 'css/variables.css' %}"
      rel="stylesheet"
      type="text/css"
      />

    {% block styles %}
    {% endblock %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'events:event_list' %}">
          <img src="{{logo_url}}" alt="SP Logo" width="30">
        </a>
        <div class="navigation d-flex">
        {% if request.user.is_authenticated %}
        <a class="nav-link" aria-content="page" href="{% url 'logout' %}">Logout</a>
        {% endif %}
        {% if request.user.is_staff %}
        <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
        </div>
      </div>
    </nav>
    {% if request.user.is_authenticated %}
    <span class="hidden" id="jitsiSettings" data-domain="{{JITSI_DOMAIN}}" data-prefix="{{JITSI_PREFIX}}"></span>
    {% endif %}
    {% bootstrap_messages %}
    <div class="container-fluid">{% block content %} {% endblock %}</div>
    {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
      ></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
